Repository yumyv/epam_fe_2019_myronets: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=js ., stylelint, stylelint --syntax=scss, htmllint

.lintstagedrc:

{
  "*.js": [
    "eslint --ext=js  ."
  ],
  "*.css": "stylelint",
  "*.scss": [
    "stylelint --syntax=scss"
  ],
  "*.html": "htmllint",
}

eslint fix
  .eslintrc.json
Due: none

HW22-jQuery: fix server
  .eslintignore
  LICENSE
  package.json
  server/README.md
  server/api.js
  server/config.json
  server/config/articles.json
  server/config/swagger.yaml
  server/index.html
  server/libs/config.js
  server/libs/log.js
  server/libs/mongoose.js
  server/package.json
  server/server.js
  src/blog.html
  src/index.html
  src/js/modules/AddPost.js
  src/js/modules/PostManager.js
  src/js/pages/BlogPage.js
  src/js/pages/PostPage.js
  src/scss/main.scss
Due: eslint --ext=js ., stylelint --syntax=scss, htmllint

HW24-Nod.js_1: done
  server/.gitignore
  server/config/swagger.yaml
  server/index.html
  server/package.json
  server/routes.js
  server/server.js
  src/js/modules/AddPost.js
  src/js/modules/FilterForPosts.js
  src/js/pages/BlogPage.js
  src/js/pages/PostPage.js
Due: eslint --ext=js ., htmllint

HW24-Nod.js_1: fix server
  server/routes.js
Due: eslint --ext=js .

HW24-Nod.js_1: fix server
  server/config/swagger.yaml
Due: none

HW25-Node.js_2: done
  .eslintignore
  server/api.js
  server/config.json
  server/config/swagger.yaml
  server/libs/config.js
  server/libs/mongoose.js
  server/routes.js
  server/server.js
  src/css/main.css
  src/css/main.css.map
  src/img/avatar.png
  src/img/no-img.png
  src/js/entities/Comment.js
  src/js/entities/FullLatestPost.js
  src/js/entities/FullPost.js
  src/js/entities/LatestPost.js
  src/js/entities/Portfolio.js
  src/js/entities/Post.js
  src/js/entities/ShortLatestPost.js
  src/js/entities/ShortPost.js
  src/js/entities/Testimonial.js
  src/js/functions/jqueryModalWindow.js
  src/js/modules/AddPost.js
  src/js/modules/FilterForPosts.js
  src/js/modules/GoogleMap.js
  src/js/modules/Module.js
  src/js/modules/PostManager.js
  src/js/pages/BlogPage.js
  src/js/pages/HomePage.js
  src/js/pages/PageBuilder.js
  src/js/pages/PostPage.js
  src/scss/_style1.scss
Due: eslint --ext=js ., stylelint, stylelint --syntax=scss

HW26-Patterns: setup tests only
  .eslintignore
  .gitignore
  karma.conf.js
  package.json
  src/blog.html
  src/css/main.css
  src/css/main.css.map
  src/index.html
  src/js/components/Author.js
  src/js/components/PostsMediator.js
  src/js/main.js
  src/js/pages/PostsPage.js
  src/js/posts.js
  src/js/tests/create.js
  src/js/tests/create.test.js
  src/post.html
  src/posts.html
  src/scss/_colorMatrix.scss
  src/scss/_style1.scss
  src/scss/_vars.scss
  webpack.config.js
Due: eslint --ext=js ., stylelint, stylelint --syntax=scss, htmllint

HW26-Patterns: done
  src/css/main.css
  src/css/main.css.map
  src/img/no-content.png
  src/js/components/Author.js
  src/js/components/PostsMediator.js
  src/js/modules/PostManager.js
  src/js/pages/BlogPage.js
  src/js/pages/PostsPage.js
  src/posts.html
  src/scss/_style1.scss
Due: eslint --ext=js ., stylelint, stylelint --syntax=scss, htmllint

HW28-Unit-tests: done
  .eslintignore
  .gitignore
  HW28-Unit-tests/.gitignore
  HW28-Unit-tests/README.md
  HW28-Unit-tests/index.html
  HW28-Unit-tests/index.js
  HW28-Unit-tests/karma.conf.js
  HW28-Unit-tests/order.js
  HW28-Unit-tests/order.spec.js
  HW28-Unit-tests/package.json
  HW28-Unit-tests/pizza.js
  HW28-Unit-tests/pizza.spec.js
Due: eslint --ext=js ., htmllint
