Repository yumyv/epam_fe_2019_myronets: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=js ., stylelint, stylelint --syntax=scss, htmllint

HW1-Git: init
  .gitignore
Due: none

HW1-Git: index file
  HW1-Git/index.html
Due: htmllint

HW1-Git: add image
  HW1-Git/index.html
Due: htmllint

HW1-Git: add css
  HW1-Git/styles/main.css
Due: stylelint

HW1-Git: add css into index
  HW1-Git/index.html
Due: htmllint

HW1-Git: add images into index
  HW1-Git/index.html
Due: htmllint

HW1-Git: add image
  HW1-Git/images/styleBg.png
Due: none

HW1-Git: change image
  HW1-Git/index.html
Due: htmllint

HW1-Git: body bg
  HW1-Git/styles/main.css
Due: stylelint

HW1-Git: change images
  HW1-Git/index.html
Due: htmllint

HW1-Git: logs file
  HW1-Git/logs_part1.txt
Due: none

Added ability to use classnames with '-'
  .htmllintrc
Due: none

HW2-HTML5: almost
  .gitignore
Due: none

HW2-HTML5: almost
  HW2-HTML5/task3/styles/main.css
  HW2-HTML5/task3/table_picture.jpg
Due: stylelint

HW2-HTML5: done
  .htmllintrc
  HW2-HTML5/task1/css/main.css
  HW2-HTML5/task1/index.html
  HW2-HTML5/task2/index.html
  HW2-HTML5/task3/index.html
Due: stylelint, htmllint

fix ability to use classnames with '-'
  .htmllintrc
Due: none

HW3-CSS: done
  HW3-CSS/task1/css/main.css
  HW3-CSS/task1/index.html
  HW3-CSS/task2/css/main.css
  HW3-CSS/task2/img/sprites.png
  HW3-CSS/task2/index.html
  HW3-CSS/task3/css/main.css
  HW3-CSS/task3/index.html
Due: stylelint, htmllint

HW3-CSS: done
  HW3-CSS/task3/css/main.css
  HW3-CSS/task3/index.html
Due: stylelint, htmllint

HW6-Preprocessors: task1
  HW6-Preprocessors/task1/scss/_mixins.scss
Due: stylelint --syntax=scss

HW7-Flex: done
  HW7-Flex/task1/css/main.css
  HW7-Flex/task1/css/main.css.map
  HW7-Flex/task1/index.html
  HW7-Flex/task1/scss/_style1.scss
Due: stylelint, stylelint --syntax=scss, htmllint

HW8-Layouts:done
  HW8-Layouts/task1/css/main.css
  HW8-Layouts/task1/css/main.css.map
  HW8-Layouts/task1/fonts/LibreFranklin/LibreFranklin-Bold.ttf
  HW8-Layouts/task1/fonts/LibreFranklin/LibreFranklin-BoldItalic.ttf
  HW8-Layouts/task1/fonts/LibreFranklin/LibreFranklin-Italic.ttf
  HW8-Layouts/task1/fonts/LibreFranklin/LibreFranklin-Medium.ttf
  HW8-Layouts/task1/fonts/LibreFranklin/LibreFranklin-MediumItalic.ttf
  HW8-Layouts/task1/fonts/LibreFranklin/LibreFranklin-Regular.ttf
  HW8-Layouts/task1/fonts/LucidaGrande/LucidaGrande.ttf
  HW8-Layouts/task1/fonts/LucidaGrande/LucidaGrandeBold.ttf
  HW8-Layouts/task1/img/Group.jpg
  HW8-Layouts/task1/img/Group2.jpg
  HW8-Layouts/task1/img/Group3.jpg
  HW8-Layouts/task1/img/Group4.jpg
  HW8-Layouts/task1/img/Group5.jpg
  HW8-Layouts/task1/img/Group6.jpg
  HW8-Layouts/task1/img/Group7.jpg
  HW8-Layouts/task1/img/Header.jpg
  HW8-Layouts/task1/img/sprite.svg
  HW8-Layouts/task1/index.html
  HW8-Layouts/task1/scss/_colorMatrix.scss
  HW8-Layouts/task1/scss/_fonts.scss
  HW8-Layouts/task1/scss/_mixins.scss
  HW8-Layouts/task1/scss/_normalize.scss
  HW8-Layouts/task1/scss/_reset.scss
  HW8-Layouts/task1/scss/_style1.scss
  HW8-Layouts/task1/scss/_vars.scss
  HW8-Layouts/task1/scss/main.scss
Due: stylelint, stylelint --syntax=scss, htmllint

HW9-Final: done
  HW9-Final/task1/blog.html
  HW9-Final/task1/css/main.css
  HW9-Final/task1/css/main.css.map
  HW9-Final/task1/img/Alex.png
  HW9-Final/task1/img/Ann.png
  HW9-Final/task1/img/Grace.png
  HW9-Final/task1/img/Image-post-3.jpg
  HW9-Final/task1/img/Img-post-4.jpg
  HW9-Final/task1/img/Img-post-4.png
  HW9-Final/task1/img/Neil.png
  HW9-Final/task1/img/Post-main-img.jpg
  HW9-Final/task1/img/Sarah.png
  HW9-Final/task1/img/sprite.png
  HW9-Final/task1/index.html
  HW9-Final/task1/media/Bach_VioPartita-2_Perlman_2.mp3
  HW9-Final/task1/post.html
  HW9-Final/task1/scss/_colorMatrix.scss
  HW9-Final/task1/scss/_mixin.scss
  HW9-Final/task1/scss/_style1.scss
  HW9-Final/task1/scss/_vars.scss
Due: stylelint, stylelint --syntax=scss, htmllint

HW10-JS-Intro: done
  .eslintrc.json
  HW10-JS-Intro/task3/readme.txt
  HW10-JS-Intro/task4/index.html
  HW10-JS-Intro/task4/main.js
Due: eslint --ext=js ., htmllint

HW11-Data-Types: done
  HW11-Data-Types/task1/index.html
  HW11-Data-Types/task1/main.js
  HW11-Data-Types/task2/index.html
  HW11-Data-Types/task2/main.js
Due: eslint --ext=js ., htmllint

HW12-Functions: done
  HW12-Functions/task1/index.html
  HW12-Functions/task1/main.js
  HW12-Functions/task2/index.html
  HW12-Functions/task2/main.js
  HW12-Functions/task3/index.html
  HW12-Functions/task3/main.js
Due: eslint --ext=js ., htmllint

HW12-Functions: done
  HW12-Functions/task1/main.js
Due: eslint --ext=js .

HW13-Advanced-Functions: done
  HW13-Advanced-Functions/task1/index.html
  HW13-Advanced-Functions/task1/main.js
  HW13-Advanced-Functions/task2/index.html
  HW13-Advanced-Functions/task2/main.js
  HW13-Advanced-Functions/task3/index.html
  HW13-Advanced-Functions/task3/main.js
Due: eslint --ext=js ., htmllint

HW18-Errors:done
  .eslintrc.json
  HW18-Errors/task1/index.html
  HW18-Errors/task1/main.js
  HW18-Errors/task2/index.html
  HW18-Errors/task2/main.js
  HW18-Errors/task3/index.html
  HW18-Errors/task3/main.js
Due: eslint --ext=js ., htmllint

HW18-Errors:done
  HW18-Errors/task3/main.js
Due: eslint --ext=js .

Path conditions:
  eslint --ext=js .: any of: *.js
  stylelint: any of: *.css
  stylelint --syntax=scss: any of: *.scss
  htmllint: any of: *.html
